* {
   margin:0;
}

h1 {
   font-size: 30vw;
   font-family: times, serif;
   line-height:1;
}

.red,
.yellow {
   display: none;
}

@supports (display: grid) and (mix-blend-mode: multiply) {
   .grid {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
      height: 100vh;
   }

   h1 {
      grid-column: 2;
      grid-row: 2;
      mix-blend-mode: multiply;
      animation-duration:  2.5s;
      animation-name: spin;
      animation-iteration-count: 2;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(.84,.02,.62,1);
   }

   .blue {
      color: #0edeff;
      animation-delay: 2.1s;
   }

   .red {
      display: block;
      color: #ff5500;
      animation-delay: 2.3s;
   }

   .yellow {
      display: block;
      color: #fffc4f;
      animation-delay: 2s;
   }

   @keyframes spin {
      from {
         transform: scale(1) rotate(0);
      }
      to {
         transform: scale(2) rotate(400deg);
      }
   }
}